/* reduced number of classes and element selectors by grouping rules with identical styling and added explainers of selectors*/

:root {
    --LightColour: #d9dcd6;
    --white: #ffffff; 
    --featuretext:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}
/* universal selector to apply to all unless a more specific rule is made */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}


/* Default for the page*/
body {
    background-color: var(--LightColour);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color:var(--white);
    font-size: 16px;
}
/* Header formatting */

header {
    padding: 20px;
    background-color: #2a607c;
}

    /* Header text*/
header h1 {
    font-family: var(--featuretext);
    display: inline-block;
    font-size: 48px;
}

/* accent colour  */
.seo {
    color: var(--LightColour);
}
/* nav bar  */
nav{
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-size: 20px;
}

/* nav bar buttons */
li{
    display: inline-block;
    margin-left: 25px;
}

/*Navigation bar text*/
a {
    text-decoration: none;
    color: var(--white); 
}

/* Hero image */
.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}

/* Main content - left aligned*/

    /*main content divider, defines width and postion*/
container {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}
    /*Article box/background format*/
    article {
        margin-bottom: 20px;
        padding: 50px;
        height: 300px;
        background-color: #0072bb;
    }
    
        /*Article image styling*/
    article img {
        max-height: 200px;
    }
        /*Image float in article container Left & Right*/
    .float-left {
        float: left;
        margin-right: 25px;
    }
    
    .float-right {
        float: right;
        margin-left: 25px;
    }
    
        /*Article title styling*/
    article h2 {
        margin-bottom: 20px;
        font-size: 36px;
    }
    
    
    /*Right side content divider*/
    
        /*Section container, positioning & background*/
    aside {
        margin-right: 20px;
        padding: 20px;
        clear: both;
        float: right;
        width: 20%;
        height: 100%;
        background-color: #2589bd;
    }
        /*Positioning of sections in the right side container */
    section{
        margin-bottom: 32px;
    }
        /*Right side title alignment*/
    section h3 {
        margin-bottom: 10px;
        text-align: center;
    }
    
        /*Right side images*/
    section img {
        display: block;
        margin: 10px auto;
        width: 150px;
    }
    
    /*Footer*/
    
        /*Footer Style, centered and specific font style */
    footer {
        padding: 30px;
        clear: both;
        font-family: var(--featuretext);
        text-align: center;
        color: black;
    }
    
        /* Footer heading text font size*/
    footer h4 {   
         font-size: 20px;   
    }
    